* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

body {
    font-family: "Poppins", sans-serif;
}

/* style navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px 0;
}

.list-menu a {
    margin-left: 30px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 14px;
}

.btn_login {
    background-color: #ffb72b;
    width: 100%;
    padding: 8px 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
}

.btn_login:hover {
    background-color: #eba416;
}

/* style jumbotron */
.jumbotron {
    display: flex;
    background-color: #ffb72b;
    border-radius: 20px;
    padding: 20px 0;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.jumbotron-text {
    width: 30%;
    font-weight: 500;
}

.jumbotron-text p {
    color: white;
    margin: 20px 0;
}

.jumbotron-text button {
    padding: 10px 18px;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: #ffb72b;
    cursor: pointer;
}

/* style card-categories */
.cards-categories {
    display: flex;
    flex-direction: column;
}

.cards-categories h2 {
    font-family: "Roboto", sans-serif;
}

.card-categories {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 30%;
    box-shadow: 0 6px 12px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 14px;
    text-align: justify;
}

.card h5 {
    margin: 10px 0;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.card p {
    font-size: 12px;
}

/* style page login */
.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: white;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 6px 12px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(148, 148, 148);
}
